<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      border-style: groove;
      margin: auto;
      width: 95%;
    }
    
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }


      

    </style>

<div style="background-color: rgb(247, 247, 247); list-style-type: none; padding: 10px; margin: auto; width: 900px;">
    <br /><br /><br />
    <h1 style="text-align: center;">Prihvati / Odbi Zahteve</h1>
    <br /><br />
    <table id="tabela-prihvati">
        <tr>
            <th style="width: 90%;">Ime</th>
            <th style="width: 10%;"></th>
        </tr>
    </table>
</div>