<table cellpadding="0" cellspacing="0" border="0" style="width: 100%;table-layout:fixed;">
    <tr valign="top"><td style="width: 45%;">
    <br />
    <div *ngFor="let resenje of listaResenja" >&nbsp;
    <button (click)="idiNaEditResenje(resenje)" class="button is-info is-rounded" style="width: 100%;">{{mapa.get(resenje)}}</button>
    <br /><br />
    </div>
</td>
<td valign="top" style="width: 20%;text-align: center;"><br>
    <h2>Pretraga preko metapodataka</h2><br>
    <form [formGroup]="resForm" (ngSubmit)="pretraziPrekoMetapodatak()" class="form-inline">
        <div class="form-group" align="center">
            <label for="metapodatak"></label>
            <input type="text" class="form-control" id="odluka" placeholder="po metapodacima" name="odluka" formControlName="odluka"><br>
            <small class="text-danger" 
                    *ngIf="resForm.controls.odluka.touched && resForm.controls.odluka.errors?.required">
                    Ovo ne sme ostati prazno!</small>
            <select name = "opcija" id="opcija" formControlName="opcija">
                <option value = "1" selected>Datum odluke o zahtevu</option>
                <option value = "2">Službenik</option>
      
            </select><br><br>
            <button type="submit"  [disabled]="resForm.invalid" class="button is-link is-focused">Pretrazi preko metapodataka</button>
        </div>
    </form><br>
    <h2>Pretraga po tekstualnom sadržaju</h2><br>
    <form [formGroup]="res2Form" (ngSubmit)="pretraziPoTekstualnomSadrzaju()" class="form-inline">
        <div class="form-group" align="center">
            
            <label for="za tekstualni sadrzaj"></label>
            <input type="text" class="form-control" id="odluka2" placeholder="po tekstualnom sadržaju" name="odluka2" formControlName="odluka2"><br>
            <br>
            <button type="submit"  [disabled]="res2Form.invalid" class="button is-link is-focused">Pretrazi preko tekstualnog sadržaja</button>
        </div>
    </form><br>
    <h2>Generisanje izveštaja</h2><br>
    <form [formGroup]="res3Form" (ngSubmit)="generisanjeIzvestaja()" class="form-inline">
        <div class="form-group" align="center">
            <label for="Početni Datum ( npr. 15.12.2020 )"></label>
            <input type="text" class="form-control" id="pocetniDatum" placeholder="15.12.2020" name="pocetniDatum" formControlName="pocetniDatum"><br>
            <label for="Krajnji Datum ( npr. 15.12.2020 )"></label>
            <input type="text" class="form-control" id="krajnjiDatum" placeholder="15.12.2020" name="krajnjiDatum" formControlName="krajnjiDatum"><br>
            <br>
            <button type="submit"  [disabled]="res3Form.invalid" class="button is-link is-focused">Generisanje izveštaja</button>
        </div>
    </form>
</td>
<td valign="top" style="width: 35%;">
    
    <div *ngIf="opcija === '2'">
        <h2>Službenik koji odgovara vašoj pretrazi</h2>
        <br>
        <div *ngFor="let resenje of listaResenja2" >
            <button  (click)="idiNaEditResenje(resenje)" class="button is-info is-rounded" style="width: 100%;">{{mapaMetaPodaci.get(resenje)}}</button>
            <br /><br />
        </div>
        
    </div>
    
    <div *ngIf="opcija === '1'">
        <h2>Rezultat koji odgovara vašoj pretrazi</h2>
        
        <br>
        <div *ngFor="let resenje of listaResenja2" >
            <button  (click)="idiNaEditResenje(resenje)" class="button is-info is-rounded" style="width: 100%;">{{mapaMetaPodaci.get(resenje)}}</button>
            <br /><br />
        </div>
        
    </div>
</td>
</tr>
</table>
