<style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
</style>


<h1>Sluzbenik meni</h1>
<br />
<form action="/sluzbenikPrihvati"><!---->
    <input class="button" type="submit" value='Prihvati/Odbi zahtev A1' />
</form>
<form action="/sluzbenikPregledajA1"><!---->
    <input class="button" type="submit" value='Priegledaj zahteve A1 po tekstu' />
</form>
<form action="/sluzbenikPregledajMetadataA1"><!---->
    <input class="button" type="submit" value='Priegledaj zahteve A1 po metapodacima' />
</form>
<form action="/Izvestaj"><!---->
    <input class="button" type="submit" value='Pogledaj Izvestaj za A1' />
</form>