<h1>Pregled Dokumenta A1</h1>

<br />
<br />
&nbsp;&nbsp;&nbsp;<button style="background-color: rgb(146, 116, 255); width: 150px; height: 50px; margin: 5px;" (click)="preuzmixhtml()">Preuzmi kao XHTML</button>
<button style="background-color: rgb(99, 141, 255); width: 150px; height: 50px; margin: 5px;" (click)="preuzmipdf()">Preuzmi kao PDF</button>
<br /><br /><br />
<div style="color: rgb(0, 185, 31);">&lt;!-- Pregled Preko Xonomy ----------------------------------------------------------></div>
<div id="editor"></div>
