<mat-toolbar style="background-color: blue;color: white;">
    <button mat-mini-fab  (click)="goToHome()" id="home_btn" style="color: teal;background-color: turquoise;">
      <mat-icon>home</mat-icon>
    </button>
    <span class="lilspace"></span>
    <span style="font-size: larger;font-family:'Trebuchet MS';">Patent</span>
    <span class="lilspace"></span>
    <div>
      <button  (click)="goToPatentCreate()" >Pravljenje patenta</button>
      <span class="lilspace"></span>
      <button   (click)="goToSviPatentiNijeProsaoZavod()" >Svi patenti koje nije prošao Zavod</button>
      <span class="lilspace"></span>
      <button   (click)="goToSviPatentiProsaoZavod()" >Svi patenti koje je prošao Zavod</button>
      <span class="lilspace"></span>
      <button  id="signin-button" (click)="goToLogOut()" >Logout</button>
    </div>  
</mat-toolbar>
