<table>
    <tr>
        <td>
            <div id="editor"></div><br><br>
            <form [formGroup]="odlukaForm" (ngSubmit)="send()">
                <button type="submit" >Pošalji</button>
                <select name = "opcija" id="opcija" formControlName="opcija">
                    <option value = "AND" selected>AND</option>
                    <option value = "OR">OR</option>
                </select>
            </form>
            <button (click)="back()">Natrag</button>
        </td>
        <td>
            
            <h2>Rezultat pretrage</h2>
            <h3 *ngIf="lista.length==0" >Nije ništa nađeno što se podudara sa vašim unetim.</h3>
            <div *ngFor="let patent of lista" >
                <button  (click)="idiNaEditPatenta(patent)" class="button">{{mapaMetaPodaci.get(patent)}}</button>
                <br />
            </div>
            
        </td>
    </tr>
</table>
