<table cellpadding="0" cellspacing="0" border="0" >
    <tr>
        <td valign="top">
            <div id="editor"></div><br><br>
            <button (click)="send()" class="button3">Promeni</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="natrag()" class="button3">Natrag</button>
        </td>
        <td>
            <h2>Referencirani dokumenti</h2>
            <div *ngFor="let patent of listaPatenta" >
                <button (click)="idiNaEditPatenta(patent)" class="button">{{mapa.get(patent)}}</button>
                <br />
                </div>
        </td>
        <td valign="top" align="center">
            <h2>Skidanje metapodataka</h2>
            <button (click)="downloadRDF()" class="button2">Skini RDF verziju</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="downloadJSON()" class="button2">Skini JSON verziju</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="downloadHTML()" class="button2">Skini HTML verziju</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="downloadPDF()" class="button2">Skini PDF verziju</button>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
