<h1>Prihvati / Odabravni A1</h1>

<br /><br />
&nbsp;&nbsp;&nbsp;<button id="d1" style="background-color: rgb(61, 252, 86); width: 150px; height: 50px; margin: 5px;" (click)="prihvati()">Prihvati</button>
<button id="d2" style="background-color: rgb(253, 55, 55); width: 150px; height: 50px; margin: 5px;" (click)="odbi()">Odbi</button> Razlog odbijanja: <input type="text" id="razlog">
<br /><br /><br />
<div style="color: rgb(0, 185, 31);">&lt;!-- Pregled Preko Xonomy ----------------------------------------------------------></div>
<div id="editor"></div>
